*{
    padding: 0;
    margin: 0;
}

html, body{
    background: #222;
    color:#fff;
    height: 100%;
}

.wrapper{
    width: 90%;
    height: 100%;
    margin: 0 auto;
    min-height: 100%;
    display: flex;
    flex-direction: row;
}

main{
    /*margin-left: 250px;*/
    flex-grow: 1;
    height: 100%;
    background: #333;
    border-right: 1px solid #000;
}
form{
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 300px;
    height: 50%;
    margin: 0 auto;
    /*border: 1px solid #000;*/
    background: #282828;
    border: 1px solid #000;
    font-size: 18px;
}
header{
    background: #111;
    height: 45px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: 1px solid #000;
    font-size: 16px;
}
form div{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
input{
    height: 40px;
    background: #333;
    border: 1px solid #000;
    border-radius: 5px;
    outline: none;
    padding: 0 10px;
    margin: 5px 10px;
    color: #FFF;
}
input:active{
    border-color: transparent;
}
.btn-positive {
    margin: 5px 10px 10px 10px;
    background: #27ae60;
    display: inline-block;
    border-radius: 2px;
    line-height: normal;
    white-space: nowrap;
    text-align: center;
    cursor: pointer;
    font-size: 100%;
    padding: 6px 12px 8px;
    color: #fff;
    border: 1px solid rgba(0,0,0,.1);
    text-decoration: none;
    font-weight: 400;
    font-family: Lato,proxima-nova,Helvetica Neue,Arial,sans-serif;
    box-shadow: inset 0 1px 2px -1px hsl(0deg 0% 100% / 50%), inset 0 -2px 0 0 rgb(0 0 0 / 20%);
    outline-none: false;
    vertical-align: middle;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all .1s linear;
    -moz-transition: all .1s linear;
    transition: all .1s linear;
}
.btn:active {
    box-shadow: inset 0 -1px 0 0 rgb(0 0 0 / 10%), inset 0 2px 0 0 rgb(0 0 0 / 20%);
    padding: 8px 12px 6px;
}