* {
    padding: 0;
    margin: 0;
    font-family: Tahoma, sans-serif;
}
html, body{
    background: #666;
}
h1, h2, h3, h4, h5, h6{
    margin: 0;
    font-family: Arial;
    font-weight: 700;
}
a {
    font-family: 'Comic Sans MS', cursive;
}
footer{}
footer div{
    padding: 25px;
    margin: 0 auto;
    display: table;
    border: 1px solid #000;
}