<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Docs</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--    <link rel="stylesheet" href="static/style.css">-->
</head>
<body>
<div class="wrapper">
    <header>
        <nav>
            <a href="login">Sign In</a>
            <a href="register">Sigh Up</a>
            <a href="#characters">Characters</a>
            <a href="#dictionary">Dictionary</a>
            <a href="#wishes">Wishes</a>
            <a href="#register">Register</a>
            <a href="#login">Login</a>
        </nav>
    </header>
    <main>
        {% for item in items %}
            <h2 id="{{ item.title }}">{{ item.title }}</h2>
            <h3>{{ item.url }}</h3>
            <h4>GET</h4>
            <p>{{ item.get_description }}</p>
            <pre>{{ item.get_attrs }}</pre>
            <h4>POST</h4>
            <p>{{ item.post_description }}</p>
            <pre>{{ item.post_attrs }}</pre>
            <h4>DELETE</h4>
            <p>{{ item.delete_description }}</p>
            <pre>{{ item.delete_attrs }}</pre>
            <h4>PATCH</h4>
            <p>{{ item.patch_description }}</p>
            <pre>{{ item.patch_attrs }}</pre>
        {% endfor %}
    </main>
    <footer>
        <address>
            Contact:<br>
            Github: <a href="https://github.com/JQweenq">JQweenq</a><br>
            Discord: Josty#0626
        </address>
    </footer>
</div>
</body>
</html>