<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Docs</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>
<div class="wrapper">
    <section class="sidebar" tabindex="-1">
        {{ sidebar | safe }}
    </section>
    <main>
        {{ main | safe }}
    </main>
</div>
<script src="{{ url_for('static', filename='index.js') }}" />
</body>
</html>