<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Sign In</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='signin.css') }}">
</head>

<body>
<div class="wrapper">
    <form action="./api/login" method="post">
        <h1>Sign In</h1>
        <input tabindex="1" placeholder="E-mail" type="text" id="email" name="email" required>
        <input tabindex="2" placeholder="Password" type="password" id="password" name="password" required>
        <button tabindex="3" type="submit">Sign In</button>
    </form>
</div>
</body>

</html>